{% extends 'layouts/base.html' %}

{% block title %} Mascotas {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Social</h6>
            
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#exampleModalCenter">Nuevo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  {% for rows in records %}
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card" style=" padding-left: 200px;padding-top: 50px;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Titulo: {{rows.4}}</h5>
              <p class="card-text">{{rows.2}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Mascota: {{rows.6}}</li>
              <li class="list-group-item">Usuario: {{rows.1}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Likes: {{rows.3}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}

    {% include "includes/footer.html" %}

  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nueva Mascota</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
            Titulo
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
              </div>
              {{ form.titulo }}
            </div>
          </div>
          <div class="form-group mb-3">
            Descripción
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
              </div>
              {{ form.descripcion }}
            </div>
          </div>
          
          <div class="form-group mb-3">
            Imagen.
              
            <input type="file" name="upload" accept="image/*">
          </div>

          <div class="form-group mb-3">
            Mascotas.
              
              {{ form.mascotas }}
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
